@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5 class="display-4">@localizer["Welcome"] <u>.Net Core 5</u></h5>
    <br />
    <h5 class="display-4">@ViewData["Welcome"] <u>.Net Core 5</u></h5>
</div>
